/* Example for local font */
@font-face {
   font-family: 'Lato';
   src: url('../fonts/Lato.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Lato-Bold';
   src: url('../fonts/latobold.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

body {
   font-family: Lato, sans-serif; /* Lato should now be available */
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #333;
   background-color: #ffffff; /* Light mode default */
}

header {
   background-color: #004d44;
   color: #ffffff;
   padding: 5px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: 1000;
   box-sizing: border-box;
}

header img {
   max-width: 150px;
   height: auto;
   margin-left: 50px; /* Added 'px' unit */
}

nav {
   background-color: #004d44;
   color: #ffffff;
   padding-right: 15px;
   padding-left: 15px;
   font-size: 27;
   flex: 1;
}

nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
}

nav ul li {
   margin: 0;
}

nav ul li a {
   color: #ffffff;
   text-decoration: none;
   padding: 10px 20px;
}

nav ul li a:hover {
   background-color: #0056a0;
}

.search-container {
   background-color: #00665c;
   padding: 15px;
   margin: 0 auto;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: center;
}

.search-content {
   max-width: 1000px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.search-box {
   flex: 2;
   display: flex;
   flex-direction: column;
   border-radius: 4px;
   overflow: hidden;
}

.search-box h1 {
   margin: 0;
   padding: 0 20px;
   color: #ffffff;
   text-align: left;
}

.search-box form {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
}

.search-box .input-group {
   display: flex;
}

.search-box input[type="text"] {
   padding: 10px 16px;
   border: 1px solid #ccc;
   border-radius: 4px 0 0 4px;
   font-size: 16px;
   outline: none;
}

.search-box button {
   padding: 15px;
   background-color: #83764e;
   color: #ffffff;
   border: 1px solid #83764e;
   cursor: pointer;
   font-size: 16px;
}

.search-box button:hover {
   background-color: #003e3b;
}

.search-info {
   flex: 1;
   padding-left: 20px;
   color: #ffffff;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.container {
   padding: 20px;
   background-color: #ffffff;
}

/* Footer Styles */
footer {
   background-color: #004d44;
   color: #ffffff;
   padding: 40px 20px;
   border-top: 2px solid #444;
}
 
.footer-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   max-width: 1200px;
   margin: 0 auto;
}
 
.footer-section {
   margin-bottom: 20px;
   flex: 1;
   min-width: 250px;
}
 
.footer-logo {
   width: 150px;
   margin-bottom: 20px;
}
 
.footer-left p {
   font-size: 14px;
   margin-top: 10px;
}
 
.footer-middle h3,
.footer-right h3 {
   font-size: 20px;
   margin-bottom: 20px;
}
 
.footer-links {
   list-style: none;
   padding: 0;
   margin: 0;
}
 
.footer-links li {
   margin-bottom: 10px;
}
 
.footer-links a {
   color: #ffffff;
   text-decoration: none;
   font-size: 16px;
}
 
.footer-links a:hover {
   text-decoration: underline;
}
 
.footer-right p {
   font-size: 16px;
   margin-bottom: 10px;
}
 
.social-icons {
   display: flex;
   gap: 15px;
   margin-top: 15px;
}
 
.social-icons a {
   color: #ffffff;
   font-size: 20px;
   transition: color 0.3s ease;
}
 
.social-icons a:hover {
   color: #ffca2b;
}


/* Dark Mode Styles */
body.dark-mode {
   background-color: #121212; /* Dark background */
   color: #f0f0f0; /* Light text */
}

header.dark-mode {
   background-color: #004d44;
   color: #ffffff;
}

nav.dark-mode {
   background-color: #1b1b1b;
}

nav ul li a.dark-mode {
   color: #ffffff;
}

nav ul li a:hover.dark-mode {
   background-color: #333333;
}

.search-container.dark-mode {
   background-color: #333333;
}

.search-box.dark-mode input[type="text"] {
   background-color: #444444;
   color: #ffffff;
}

.search-box.dark-mode button {
   background-color: #555555;
   border-color: #555555;
}

.search-box.dark-mode button:hover {
   background-color: #777777;
}

.search-info.dark-mode {
   color: #ffffff;
}

.container.dark-mode {
   background-color: #1e1e1e;
}

footer.dark-mode {
   background-color: #004d44;
}
 
.footer-links a.dark-mode {
   color: #bbbbbb;
}

.social-icons a.dark-mode:hover {
   color: #dddddd;
}
